<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <environment include="Development">
        <link rel="stylesheet" href="~/Bootstrap/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Bootstrap/css/bootstrap.min.css" />
    </environment>
</head>
<body>
    <h1>THÔNG TIN CHO NGƯỜI ĐẶT</h1>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Huy</td>
                <td>1</td>
                <td>Huy</td>
            </tr>
        </tbody>
    </table>
    <h1>THÔNG TIN CHO TÀI XẾ</h1>
    <ul>
        <li>HCM</li>
        <li>HN</li>
    </ul>
    <environment include="Development">
        <script src="~/Bootstrap/js/jquery-3.3.1.js"></script>
        <script src="~/Bootstrap/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Bootstrap/js/jquery-3.3.1.min.js"></script>
        <script src="~/Bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>
</body>
</html>